@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');


@layer components {
    body {
        font-family: 'Poppins';
    }

    *::-webkit-scrollbar {
        width: 8px;
    }

    *::-webkit-scrollbar-track {
        background: rgba(76, 175, 80, 0);
    }

    *::-webkit-scrollbar-thumb {
        background-color: rgb(65, 65, 65);
        border-radius: 4px;
    }

    *.dark::-webkit-scrollbar-track {
        background: rgba(76, 175, 80, 0);
    }

    *::-webkit-scrollbar-thumb {
        background-color: rgb(65, 65, 65);
    }

    .dark *::-webkit-scrollbar-track {
        background-color: rgb(27, 35, 59);
    }
    .dark *::-webkit-scrollbar-thumb {
        background-color: rgb(52, 64, 100);
    }

    .bounce {
        animation: bounce 2s ease-in infinite;
    }

    .hamburger {
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
    }

    .hamburger::before, .hamburger::after {
        content: '';
        position: absolute;
        width: 80%;
        height: 3px;
        background: #121522;transition: .25s ease-in-out;
    }


    .hamburger-dark::before, .hamburger-dark::after {
        background: #ffffff;
    }

    .hamburger-dark::before {
        box-shadow: 0 10px 0 #ffffff;
    }

    .hamburger-dark.open::before {
        box-shadow: none;
    }

    .hamburger::before {
        transform: translateY(-10px);
        box-shadow: 0 10px 0 #121522;
    }

    .hamburger::after {
        transform: translateY(10px);
    }

    .hamburger.open::before {
        transform: rotate(45deg);
        box-shadow: none;
    }

    .hamburger.open::after {
        transform: rotate(-45deg);
    }

    .transit {
        transition: transform .25s ease-in-out;
    }

    .transit-bg {
        transition: padding .25s ease-in-out,
    }

    @keyframes bounce {
        0% {
            transform: translateY(-3px);
        }
        50% {
            transform: translateY(3px);
        }
        100% {
            transform: translateY(-3px);
        }
    }
}